<% content_for :meta_title, "Sandrine Rousset artiste peintre et sculptrice" %>
<% content_for :meta_description, "Découvrez en détail les différentes oeuvres réalisées par Sandrine Rousset" %>
<% content_for :meta_image, cl_image_path("cover.jpg") %>

<div class="container">
  <h2 id="titre"><%= @gallery.name %></h2>
  <div class="art_pieces">
    <% @art_pieces.each do |art_piece|%>
      <div class="card-art-piece">

        <% if art_piece.photos.attached? %>
            <div class="art_piece-img" style="background-image: url('<%= cl_image_path art_piece.photos[0].key %>')" data-toggle="modal" data-target="#modal<%= art_piece.id %>">
            </div>
            <h4 ><%= art_piece.title %></h4>
            <% if user_signed_in? && current_user.admin? %>
              <div class="liens">
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, art_piece_path(art_piece), method: :delete, data: { confirm: "Are you sure?" } %>
                <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_gallery_art_piece_path(@gallery, art_piece) %>
              </div>
            <% end %>
            <!-- Modal -->
              <div class="modal fade" id="modal<%= art_piece.id %>" tabindex="-1" role="dialog" aria-labelledby="modal<%= art_piece.id %>Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal<%= art_piece.id %>Label"><%= art_piece.title %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
               <!--        carousel -->
                      <div id="myCarousel-<%= art_piece.id %>" class="carousel slide carousel-fade" data-ride="carousel" >
                        <div class="carousel-inner">
                          <% art_piece.photos.each_with_index do |photo, index| %>
                            <% if index == 0 %>
                              <div class="carousel-item active">
                                <%= cl_image_tag photo.key, alt: "painting of #{art_piece.title}" %>
                                <p>Dimensions (en cm): <%= art_piece.dimension %></p>
                                <p><%= art_piece.description %> </p>
                                <p>(<%= art_piece.year%>)</p>
                              </div>
                            <% else %>
                              <div class="carousel-item">
                                <%= cl_image_tag photo.key, alt: "painting of #{art_piece.title}" %>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                        <% if art_piece.photos[1].nil? %>
                        <% else %>
                          <a class="carousel-control-prev" href="#myCarousel-<%= art_piece.id %>" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#myCarousel-<%= art_piece.id %>" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        <% end %>
                      </div>
                    </div>
              <!--     fin carousel -->
                     <div class="modal-footer" data-turbolinks="false">  <!-- turbolinks false: la modal est fermée quand on revient sur la page ap avoir cliqué sur btn plus d'infos -->
                        <%= link_to "Plus d'informations", contacts_path, class: "plus btn-blue" %>
                      <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                     </div>
                  </div>
                </div>
              </div>
              <!--      fin modal -->
          <% end %>
        </div>
    <% end %>
  </div>
  <% if @art_pieces.size > 9 %>
    <div class="ancre">
      <%= link_to "Haut de page", gallery_art_pieces_path(@gallery, anchor: 'titre'), class: "btn-blue titre" %>
    </div>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="ajout">
      <!--   a modif pour ne rendre accessible qu'a admin -->
      <%= link_to "Ajouter une oeuvre", new_gallery_art_piece_path(@gallery), class: "btn-blue" %>
    </div>
  <% end %>
</div>



