<div class="container">
  <h2>Ajouter une nouvelle oeuvre</h2>
  <div class="formulaire">
    <%= simple_form_for ([@gallery, @art_piece]) do |f| %>
    <%= f.input :title, :label => "Titre", :placeholder => "titre de l'oeuvre" %>
    <%= f.input :year, :label => "Année de création", :placeholder => "2015" %>
    <%= f.input :description, :label => "Description", :placeholder => "40×40 \n Huile sur toile" %>
    <%= f.input :photo, as: :file, required: true %>
    <%= f.submit "Enregistrer", class: "btn-blue" %>
  <% end %>
  </div>
</div>
