<div class="container">
  <h2>Ajouter une nouvelle oeuvre</h2>
  <div class="formulaire">
    <%= simple_form_for ([@gallery, @art_piece]) do |f| %>
    <%= f.input :title, :label => "Titre", :placeholder => "titre de l'oeuvre" %>
    <%= f.input :year, :label => "Année", :placeholder => "année de création" %>
    <%= f.input :description, :label => "Description", :placeholder => "dimensions, technique utilisée.." %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Enregistrer", class: "btn-blue" %>
  <% end %>
  </div>
</div>
