<div class="container">
  <div class="galeries">
    <div class="galerie-peinture">
      <h2>GALERIE DE PEINTURES</h2>
        <% @galeries.each_with_index do |galerie, index| %>
          <% next if galerie.name == @sculptures_galerie.name %>
          <% if index.even? %>
            <div class="card-galery">
              <p><%= galerie.description %></p>
              <div class="photo" style="background-image: url('<%= cl_image_path galerie.photo.key%>')">
                <h4><%= galerie.name %></h4>
              </div>
            </div>
            <% else %>
              <div class="card-galery-two">
                <div class="photo" style="background-image: url('<%= cl_image_path galerie.photo.key%>')">
                  <h4><%= galerie.name %></h4>
                </div>
               <p><%= galerie.description %></p>
            </div>
            <% end %>
        <% end %>
    </div>
    <div class="galerie-sculptures">
      <h2>GALERIE DE SCULPTURES</h2>
        <div class="card-galery">
          <p><%= @sculptures_galerie.description %></p>
          <div class="photo" style="background-image: url('<%= cl_image_path @sculptures_galerie.photo.key%>')">
            <h4><%= @sculptures_galerie.name %></h4>
          </div>
        </div>
    </div>
  </div>
</div>


