<% content_for :meta_title, "Sandrine Rousset artiste peintre et sculptrice" %>
<% content_for :meta_description, "Bienvenue sur le site de Sandrine Rousset, artiste peintre et sculptrice" %>
<% content_for :meta_image, cl_image_path("banner.jpg") %>

<div class="home-navcolumn">
  <div class="artiste">
    <h1>SANDRINE ROUSSET</h1>
    <h3>Peintures&ensp;Sculptures</h3>
  </div>
  <div class="home-menu">
    <%= link_to "Quelques mots", about_path, class: "trait" %>
    <%= link_to "Galerie en ligne", galleries_path %>
    <%= link_to "Contact", new_contact_path, class: "trait-bis" %>
  </div>
  <div class="home-footer">
    <%= render 'shared/navbar' %>
    <%= link_to '<i class="fab fa-facebook-f"></i>'.html_safe, "https://www.facebook.com/sandrine.rousset.507", :target => "_blank" %>
  </div>
</div>

<div class="home-container" style='background-image: url("https://res.cloudinary.com/du5qhnalh/image/upload/v1602169936/banner_b5hf2y.jpg")'>
  <h2 class="anim">
      <span class="anim">P</span>
      <span class="anim_letter anim_letter-1">a</span>
      <span class="anim_letter anim_letter-2">r</span>
      <span class="anim_letter anim_letter-3">e</span>
      <span class="anim_letter anim_letter-4">n</span>
      <span class="anim_letter anim_letter-5">t</span>
      <span class="anim_letter anim_letter-6">h</span>
      <span class="anim_letter anim_letter-7">è</span>
      <span class="anim_letter anim_letter-8">s</span>
      <span class="anim_letter anim_letter-9">e</span>
      <span class="anim_letter anim_letter-10">s</span>&ensp;
      <span class="anim_letter anim_letter-11">p</span>
      <span class="anim_letter anim_letter-12">o</span>
      <span class="anim_letter anim_letter-13">é</span>
      <span class="anim_letter anim_letter-14">t</span>
      <span class="anim_letter anim_letter-15">i</span>
      <span class="anim_letter anim_letter-16">q</span>
      <span class="anim_letter anim_letter-17">u</span>
      <span class="anim_letter anim_letter-18">e</span>
      <span class="anim_letter anim_letter-19">s</span>
  </h2>
</div>


