<% content_for :meta_title, "Sandrine Rousset artiste peintre et sculptrice" %>
<% content_for :meta_description, "Contactez Sandrine Rousset pour obtenir plus d'informations sur son travail et ses oeuvres." %>
<% content_for :meta_image, cl_image_path("cover.jpg") %>

<div class="contact-container">
  <h2>Contact</h2>
  <div class="intro">
    <div class="contact-image" style='background-image: url("https://res.cloudinary.com/du5qhnalh/image/upload/v1605436767/contact_ikdjpz.jpg")'>
    </div>
    <div class="contact-artiste">
      <%= cl_image_tag('IMG_5711_ahnzyg', crop: :fill, class: "photo-id") %>
      <p class="contact-texte">Vous souhaitez en savoir plus sur mon travail, ou obtenir des informations supplémentaires sur une oeuvre ?
         Remplissez le formulaire de contact, je vous répondrai dans les meilleurs délais !
      </p>
    </div>
  </div>
  <div class="form">
    <%= simple_form_for @contact do |f| %>

    <%= f.input :first_name, :required => true, :label => "Votre prénom" %>
    <%= f.input :last_name, :required => true, :label => "Votre nom" %>
    <%= f.input :email, :required => true, :label => "Votre email" %>
    <%= f.input :message, :as => :text, :required => true, :label => "Votre message", :input_html => {:rows => 6} %>
    <%= f.submit 'Envoyer', class: "btn-blue form-btn" %>
  <% end %>
  </div>
  <!-- <% if flash.any? %>
  <% flash.keys.each do |flash_key| %>
    <% next if flash_key.to_s == 'timedout' %>
    <div class="alert-message <%= flash_key %>">
      <a class="close" data-dismiss="alert" href="#">x</a>
      <%= flash.discard(flash_key) %>
    </div>
  <% end %>
<% end %> -->
</div>




