<% content_for :meta_title, "Sandrine Rousset artiste peintre et sculptrice" %>
<% content_for :meta_description, "Contactez Sandrine Rousset pour obtenir plus d'informations sur son travail et ses oeuvres." %>
<% content_for :meta_image, cl_image_path("cover.jpg") %>

<div class="contact-container">
  <h2>Contact</h2>
  <div class="intro">
    <div class="contact-image" style='background-image: url("https://res.cloudinary.com/du5qhnalh/image/upload/v1605436767/contact_ikdjpz.jpg")'>
    </div>
    <div class="contact-artiste">
      <%= cl_image_tag('Sandrine_2_roa0jl', crop: :fill, class: "photo-id") %>
      <p class="contact-texte">Vous souhaitez en savoir plus sur mon travail, ou obtenir des informations supplémentaires sur une oeuvre ?
         Remplissez le formulaire de contact, je vous répondrai dans les meilleurs délais !
      </p>
    </div>
  </div>
  <div class="form">
    <div class="form-content">
      <%= simple_form_for @contact do |f| %>

      <%= f.input :first_name, :required => true, :label => "Votre prénom" %>
      <%= f.input :last_name, :required => true, :label => "Votre nom" %>
      <%= f.input :email, :required => true, :label => "Votre email" %>
      <%= f.input :message, :as => :text, :required => true, :label => "Votre message", :input_html => {:rows => 6} %>
      <%= f.submit 'Envoyer', class: "btn-blue form-btn" %>
      <% end %>
    </div>
    <%= cl_image_tag "chevalet_l4j08l", alt: "chevalet", class: "chevalet" %>
  </div>

</div>




