<% content_for :meta_title, "Sandrine Rousset artiste peintre et sculptrice" %>
<% content_for :meta_description, "Visitez la galerie en ligne de Sandrine Rousset, et découvrez ses oeuvres et ses différents univers !" %>
<% content_for :meta_image, cl_image_path("banner.jpg") %>

<div class="container">
  <div class="galleries">
    <div class="gallery-paintings">
      <h2>GALERIE DE PEINTURES</h2>
        <% @galleries.each_with_index do |gallery, index| %>
          <% next if gallery.name == @sculptures_gallery.name %>
          <% if index.even? %>
            <div class="card-gallery">
              <div class="description">
                <p><%= gallery.description %></p>
              </div>
              <%= link_to gallery_art_pieces_path(gallery) do %>
              <div class="photo" style="background-image: url('<%= cl_image_path gallery.photo.key %>')">
                <span class="title"><%= gallery.name %></span>
              </div>
              <% end %>
            </div>
          <% else %>
            <div class="card-gallery-two">
              <%= link_to gallery_art_pieces_path(gallery) do %>
                <div class="photo" style="background-image: url('<%= cl_image_path gallery.photo.key%>')">
                  <span class="title"><%= gallery.name %></span>
                </div>
              <% end %>
              <div class="description">
               <p><%= gallery.description %></p>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="gallery-sculptures">
      <h2>GALERIE DE SCULPTURES</h2>
        <div class="card-gallery">
          <div class="description">
            <p><%= @sculptures_gallery.description %></p>
          </div>
          <%= link_to gallery_art_pieces_path(@sculptures_gallery) do %>
            <div class="photo" style="background-image: url('<%= cl_image_path @sculptures_gallery.photo.key%>')">
              <span class="title"><%= @sculptures_gallery.name %></span>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

<!-- <script>

  div = document.querySelector('.transfo');
  div.addEventListener ('mouseover', (event) => {
    button = document.querySelector('.opac');
    text = document.querySelector('.change');
    button.classList.add('opac-active');
    button.classList.remove('opac');
    text.classList.add('change-active');
    text.classList.remove('change');
  });
    button = document.querySelector('.opac-active');
    button.addEventListener ('click', (event) => {
    button.classList.add('opac');
    button.classList.remove('opac-active');
    text = document.querySelector('.change-active');
    text.classList.add('change');
    text.classList.remove('change-active');
    });
  div.addEventListener ('mouseout', (event) => {
    button = document.querySelector('.opac-active');
    button.classList.add('opac');
    button.classList.remove('opac-active');
    text = document.querySelector('.change-active');
    text.classList.add('change');
    text.classList.remove('change-active');
  });


</script>
 -->
