<% content_for :meta_title, "Sandrine Rousset artiste peintre et sculptrice" %>
<% content_for :meta_description, "Visitez la galerie en ligne de Sandrine Rousset, et découvrez ses oeuvres et ses différents univers !" %>
<% content_for :meta_image, cl_image_path("banner.jpg") %>

<div class="container">
  <div class="galleries">
    <div class="gallery-paintings">
      <h2>GALERIE DE PEINTURES</h2>
        <% @galleries.each_with_index do |gallery, index| %>
          <% next if gallery.name == @sculptures_gallery.name %>
          <% if index.even? %>
            <div class="card-gallery">
              <div class="description">
                <p><%= gallery.description %></p>
                <%= link_to "Voir les oeuvres", gallery_art_pieces_path(gallery), class: "btn-blue" %>
              </div>
              <div class="photo" style="background-image: url('<%= cl_image_path gallery.photo.key %>')">
                <h4><%= gallery.name %></h4>
              </div>
            </div>
            <% else %>
              <div class="card-gallery-two">
                <div class="photo" style="background-image: url('<%= cl_image_path gallery.photo.key%>')">
                  <h4><%= gallery.name %></h4>
                </div>
                <div class="description">
                 <p><%= gallery.description %></p>
                 <%= link_to "Voir les oeuvres", gallery_art_pieces_path(gallery), class: "btn-blue" %>
                </div>
              </div>
            <% end %>
        <% end %>
    </div>
    <div class="gallery-sculptures">
      <h2>GALERIE DE SCULPTURES</h2>
        <div class="card-gallery">
          <div class="description">
            <p><%= @sculptures_gallery.description %></p>
            <%= link_to "Voir les oeuvres", gallery_art_pieces_path(@sculptures_gallery), class: "btn-blue" %>
          </div>
          <div class="photo" style="background-image: url('<%= cl_image_path @sculptures_gallery.photo.key%>')">
            <h4><%= @sculptures_gallery.name %></h4>
          </div>
        </div>
    </div>
  </div>
</div>


