<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- recharger la page quand navigation avec boutons back et forward sur Safari
         pour que l'animation des photos se fasse à chaque fois -->
    <% if (controller.controller_name == "galleries" && controller.action_name == "index")%>
      <meta name="turbolinks-visit-control" content="reload" >
    <% end %>


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <div class="main-container">
      <%= render 'shared/menu' unless (controller.controller_name == "pages" && controller.action_name == "home")%>
      <% if (controller.controller_name != "contact" && controller.action_name != "create")%>
        <%= render 'shared/flashes' %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
